<section class="video_embed !py-0">
	<div class="{{ block.background_color == 'red' ? 'bg-brandRed' }} pb-8 md:pb-16 rounded-top rounded-bottom relative">
		<div class="container flex flex-col gap-6 md:gap-10 {{ block.content ? 'pt-3' : 'pt-8 lg:pt-16' }} {{
			block.background_color == 'red'
				? ''
				: '!py-0'
			}}">
			{% if block.content %}
				<div class="block-content text-center !text-white max-w-[600px] mx-auto">
					{{ block.content }}
				</div>
			{% endif %}
			<div class="w-full md:w-[80%] mx-auto aspect-video bg-black rounded-3xl overflow-hidden">
				{% if block.video_type == 'upload' %}
					<video src="{{ block.video_link }}"
						controls
						class="w-full h-full"
						poster="/wp-content/uploads/2023/05/revo-front-desk.jpg"></video>
				{% elseif block.video_type == 'iframe' %}
					{{ block.iframe }}
				{% endif %}
			</div>
		</div>
	</div>
</section>
