{% set errors = session.get('errors') %}
{% set old = session.get('old') %}

{% if errors %}
	<div class="pt-16">
		{% include 'partial/errors.twig' %}
	</div>
{% endif %}

{% set currentPage = fn('getCurrentPage') %}
<form {{ isFiveWeekMembership ? 'data-five-week-membership' }} {{ isPresale ? 'data-presale-form' }} id="sign-up-form" name="sign-up-form" class="container relative flex flex-col gap-6 {{ not fn('is_single') ? 'divide-y py-16' : 'py-8' }}" method="POST" action="{{ currentPage }}">
	{% include 'partial/loader.twig' %}

	{% if gym_select is defined %}
		{{ gym_select }}
	{% endif %}

	<div class="flex items-center justify-between flex-wrap gap-3 {{ not fn('is_single') ? 'pt-8' }}">
		<h3 class="text-brandBlack">
			Choose your membership
		</h3>
		<a href="/memberships" class="button-outline !bg-pureWhite">Compare memberships</a>
	</div>
	{% include 'partial/sign-up-form/membership-select.twig' %}

	{% include 'partial/sign-up-form/customer-details.twig' %}
	{% if isInClubRegistration %}
		{# {% include "partial/sign-up-form/emergency-contact-details.twig" %} #}
	{% endif %}
	{% include 'partial/sign-up-form/membership-summary.twig' %}
	{% if not isFiveWeekMembership %}
		{% include 'partial/sign-up-form/billing-details.twig' %}
	{% endif %}
	{% include 'partial/sign-up-form/terms-conditions.twig' %}

	{% if isInClubRegistration or isFiveWeekMembership %}
		<div class="sm:w-1/2">
			<h3 class="text-brandRed my-6">
				Sign here:
			</h3>
			<canvas id="signature" class="w-full mb-2 aspect-[16/7] bg-white relative z-10 rounded-lg"></canvas>
			<input type="text" class="invisible" id="signed" name="signed" required/>
			<input type="text" class="invisible" id="signedPart2" name="signedPart2" required/>
			<button data-action="clear" type="button" class="bg-brandRed px-2 py-1 text-white w-fit ml-auto flex self-end">
				Clear
			</button>
		</div>
	{% endif %}

	{% if isPresale %}
		<input type="hidden" name="isPresale" id="isPresale" value="true"/>
		<input type="hidden" name="openDate" id="openDate" value="{{ openDate }}"/>
	{% endif %}

	{# Hidden inputs #}
	<input type="hidden" name="paymentMethodToken" id="paymentMethodToken"/>
	<input type="hidden" name="accountHolderName" id="accountHolderName"/>
	<input type="hidden" name="lastFour" id="lastFour"/>
	<input type="hidden" name="firstSix" id="firstSix"/>
	<input type="hidden" name="cardExpiry" id="cardExpiry"/>
	<input type="hidden" name="cardType" id="cardType"/>
	<input type="hidden" name="captchaToken" id="captchaToken"/>

	<button disabled type="{{ isFiveWeekMembership ? 'submit' : 'button' }}" id="PostPaymentMethod" class="button mt-8 disabled:!opacity-[0.5]">
		Get Started
	</button>
	<div class="text-xs pt-5">
		This site is protected by reCAPTCHA and the Google
		<a href="https://policies.google.com/privacy" target="_blank" class="underline">Privacy Policy</a>
		and
		<a href="https://policies.google.com/terms" target="_blank" class="underline">Terms of Service</a>
		apply.
	</div>
</form>
{% block scripts %}
	<script src="https://www.google.com/recaptcha/api.js?render=6LfMs-YpAAAAAP1AxZgWTNgn8bydLu0h_T-TeETv"></script>

	<script>
		grecaptcha.ready(function () {
grecaptcha.execute('6LfMs-YpAAAAAP1AxZgWTNgn8bydLu0h_T-TeETv', {action: 'submit'}).then((token) => document.querySelector('#captchaToken').value = token);
});
	</script>
{% endblock %}
