{% extends "base.twig" %}
{% set errors = session.get('errors') %}
{% set old = session.get('old') %}

{% block content %}
	<div class="bg-pureWhite">
		<div class="bg-lightPink mt-24 rounded-top pb-60 -mb-60">
			{% set gym_select %}
			<div class="!border-t-0">
				<h3 class="text-brandBlack mb-4 lg:mb-8">Choose your Gym</h3>
				<div class="grid sm:grid-cols-2 gap-4 mb-6">

					{% set stateName = {
					'All': 'All',
					'New South Wales': 'NSW',
					'Victoria': 'VIC',
					'Queensland': 'QLD',
					'South Australia': 'SA',
					'Western Australia': 'WA',
					'Tasmania': 'TAS',
					'Northern Territory': 'NT',
				} %}
					{% set userState = stateName[revo.mapHandler.getUserLocation.state] %}

					<div class="input-wrapper">
						<label for="stateSelect">State</label>
						<select class="cursor-pointer" name="stateSelect" id="stateSelect">
							<option disabled>Select a state</option>
							<option value='All'>All</option>
							{% for key, item in revo.gymManager.getGymsByState %}
								<option value="{{ key }}" {{ old.state == key ? 'selected' : key == userState ? 'selected' }}>{{ key }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="input-wrapper">
						<label for="gymSelect">Gym</label>
						<select class="cursor-pointer" name="gymSelect" id="gymSelect">
							<option disabled value="select-a-gym" {{ gymSelect == null ? 'selected' }}>Select a gym</option>
							{% for key, state in revo.gymManager.getGymsByState %}
								<option disabled class="{{ key == 'All' or key != userState ? 'hidden' : '' }}">{{ key }}</option>
								{% for gym in state %}
									{% include "partial/sign-up-form/gym-option.twig" %}
								{% endfor %}
							{% endfor %}
						</select>
						<input type="hidden" name="state" id="state"/>
					</div>
				</div>
			</div>
			{% endset %}

			{% include "partial/sign-up-form-special-circumstances.twig" %}
		</div>
	</div>
{% endblock %}
